together
python-dotenv
pandas
scikit-learn
torch
tqdm
pydantic
transformers
peft 
accelerate 
numpy
safetensors
huggingface_hub
sentencepiece==0.2.0
cmake
ninja
scikit-build-core
mistral_common
openai
